@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color1: #F8FCDA;
    --color2: #E3E9C2;
    --color3: #F9FBB2;
    --color4: #7C6354;
    --color5: #A5ABAF;
}

.navbar{
    background: var(--color2);
}

.navbar a{
    cursor: pointer;
}

.logo h1{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
}

/* fashion */
.fashion{
    padding: 20px;
}

.fashion h3{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 60px;
    text-align: center;
}

.fashion h6{
    text-align: center;
}

.fashion .title{
    margin-bottom: 30px;
}

.card.mb-3{
    padding: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card-title{
    font-size: 32px;
    color: black;
    text-decoration: underline;
    margin-bottom: 40px;
}

.card-group{
    width: 100%;
    padding: 20px;
}

.card-group .card{
    padding: 20px;
    border: none;
}

/* footer */

footer{
    background: var(--color2);
    color: var(--color4);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40vh;
    padding-top: 30px;

}

.col{
    padding: 10px;
}

footer h4{
    font-size: 25px;
    margin-bottom: 5px;
    margin-left: 25px;
}

footer ul li{
    list-style: none;
    margin-bottom: 10px;
}

footer ul li a{
    text-decoration: none;
    color: var(--color4);
}

footer i{
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
}

@media (max-width: 780px) {
    footer{
        height: 100%;
    }
    .col{
        margin-right: 25px;
    }
}